Backend/.env
Backend/package-lock.json
Backend/node_modules


# Logs
Frontend/logs
Backend/*.log
Backend/npm-debug.log*
Backend/yarn-debug.log*
Backend/yarn-error.log*
Backend/pnpm-debug.log*
Backend/lerna-debug.log*

Backend/node_modules
Backend/dist
Backend/dist-ssr
Backend/*.local

# Editor directories and files
Backend/.vscode/*
Backend/!.vscode/extensions.json
Backend/.idea
Backend/.DS_Store
Backend/*.suo
Backend/*.ntvs*
Backend/*.njsproj
Backend/*.sln
Backend/*.sw?
