.inbox-icon {
  position: relative;
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 50%, #a6c1ee 100%);
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  margin-right: 1rem;
  padding: 4px;
  height: 30px;
  color: white;
  border: 1px solid #00f2fe;
  box-sizing: border-box;
}
.inbox-icon .mail {
  color: var(--white);
}
.material-symbols-outlined {
  color: #fff !important; 
  -webkit-text-fill-color: #fff !important; /* iOS/Safari fix */
}
.inbox-icon .dot {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -0.1rem;
  right: -0.1rem;

  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: red;
}

.inbox-icon .payment-requests {
  position: absolute;
  z-index: 100;
  top: 2.9rem;
  right: 0;
  border-radius: 15px;
  max-width: 500px;
 
  height: auto;

  color: black;
  background-color: rgb(194, 233, 255);

  box-shadow: 5px 5px 10px #c3cfdd, -5px -5px 10px #fdffff;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.payment-requests p {
  text-align: center;
  font-size: 0.9rem;
  color: black;
  opacity: 0.8;
}

.payment-requests .payment-list {
  width: 100%;
  margin: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.568);
  border-radius: var(--radius);
  padding: 0.3rem;

  border-radius: 10px;
  margin-bottom: 10px;
}
.payment-list p {
  color: black;
  font-weight: 500;
  text-transform: capitalize;
}
.payment-list .btns {
  display: flex;
  gap: 0.7rem;
}

.payment-list button {
  padding: 0.3rem;
  margin-top: 0;
  background: none;
  border: none;
  box-shadow: 2px 2px 5px #9c9c9c;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-list button.yes {
  background: rgb(3, 207, 3);
}
.payment-list button.no {
  background-color: rgb(253, 41, 41);
}
.pendingReq {
  display: flex;
  padding: 10px 8px;
  background: rgba(255, 255, 255, 0.568);
  border-radius: var(--radius);
  margin: 0;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #6c757d;
  max-width: 500px;
  min-width: 350px;
  text-align: center;
}
@media (max-width: 480px) {
  .inbox-icon {
    width: 28px;
    height: 28px;
    margin-right: 0.5rem;
  }

  .inbox-icon .payment-requests {
    position: fixed;
    width: 90vw;
    top: 4.5rem;
    right: 3%;
    border-radius: 15px;
  }

  .payment-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
   
  }
.payment-requests .payment-list{
  padding-bottom: 20px;
}
  .payment-list p {
    width: 100%;
  }

  .payment-list .btns {
    justify-content: flex-start;
  }
   .pendingReq{
    min-width: 95%;
  }
}
@media (max-width: 380px) { 
  .pendingReq{
    min-width: 95%;
  }
  .inbox-icon .payment-requests {
    position: fixed;
    width: 90%;
    top: 4.5rem;
    right: 3%;
    border-radius: 15px;
  }
}