#home-page{
margin: 0;
 background-color: #e0e5ec;
 height: 100vh;
 overflow-y: auto;
}
/* #home-page nav {
 
} */



#home-page .content-area {
    background-color: var( --box-colour);
 width: 90%;
 margin: 0 auto;
 margin-top: 20px;
 padding: 20px 30px;
   border-radius: 10px;
  box-shadow: 10px 10px 20px #fff, -10px -10px 20px #a3b1c6;
  box-sizing: border-box;
}