#home{
margin: 0;
 background-color: #e0e5ec;
 height: 100vh;
 overflow-y: auto;
}
#home .header{
display: flex;
justify-content: space-around;
align-items:center;
padding: 15px 20px;

}
#home .header .left{
color: black;
margin:0;
z-index: 4;
}
#home .header .left h4{
margin: 0;
font-size: 12px;
}
#home .header .right{

}
#home .header .right a{
text-decoration: none;
color: rgb(0, 53, 0);
}
.react-datepicker{
    border-radius: 10px;
}